/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 2000px) {
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 912px;
        max-width: 2000px;
        background-color: #ffffff;
        margin: 50px 0 10px 0;
        
    }

    .main-container form{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }
    .form-email{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-email input{
        width: 30%;
        height: 40px;
        margin-bottom: 10px;
        border-radius: 10px;
        border-radius: 10px;
        border: rgb(156, 156, 156) 2px solid;
        padding: 12px;
        
    }

    .form-email input::placeholder{
        padding: 5px;
        color: black;
        font-weight: bold;
        font-size: medium;
        padding: 0;
    }
    .form-password input::placeholder{
        padding: 5px;
        color: black;
        font-weight: bold;
        font-size: medium;
        padding: 0;
    }

    .form-password{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-password input{ 
        width: 30%;
        height: 40px;
        margin-bottom: 10px;
        border-radius: 10px;
        border-radius: 10px;
        border: rgb(156, 156, 156) 2px solid;
        padding: 12px;
    }
    .main-container label{
        display: none;
    }
    


    .header-text {
        display: flex;
        flex-direction: column ;
        align-items: center;
        justify-content: center;
        
    }

    .header-text h1{
        display: flex;
        flex-direction: column ;
        align-items: center;
        justify-content: center;
        font-size: xxx-large;
        text-align: center;
        margin-bottom: 10px;
    }

    .header-text p{
        color: rgb(66, 65, 65);
        font-weight: 550;
        text-align: center;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .logo-container {
        display: flex;
        flex-direction: row ;
        align-items: center;
        justify-content: center;
        font-size: large;
        gap: 10px;
    }

    .form-button{
        width: 30%;
        height: 40px;
        margin-bottom: 10px;
        border-radius: 10px;
        border-radius: 10px;
        border: gray 1px solid;
        border-radius: 10px;
        background-color: rgb(73, 21, 74);
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    .form-links{
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 0, 0, 5px, 0;
    }
    .form-links button{
        width: 30%;
        height: 40px;
        font-size: small;
        border: gray 2px solid;
        border-radius: 10px;
        background-color: rgb(73, 21, 74);
        
    }
}

@media screen and (max-width: 1312px) {
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 912px;
        max-width: 1312px;
        background-color: #ffffff;
        margin: 50px 0 10px 0;
        
    }

    .main-container form{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }
    .form-email{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-email input{
        width: 30%;
        height: 40px;
        margin-bottom: 10px;
        border-radius: 10px;
        border-radius: 10px;
        border: rgb(156, 156, 156) 2px solid;
        
    }

    .form-email input::placeholder{
        padding: 5px;
        color: black;
        font-weight: bold;
        font-size: medium;
    }
    .form-password input::placeholder{
        padding: 5px;
        color: black;
        font-weight: bold;
        font-size: medium;
    }

    .form-password{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-password input{ 
        width: 30%;
        height: 40px;
        margin-bottom: 10px;
        border-radius: 10px;
        border-radius: 10px;
        border: rgb(156, 156, 156) 2px solid;
    }
    .main-container label{
        display: none;
    }
    


    .header-text {
        display: flex;
        flex-direction: column ;
        align-items: center;
        justify-content: center;
        
    }

    .header-text h1{
        display: flex;
        flex-direction: column ;
        align-items: center;
        justify-content: center;
        font-size: xxx-large;
        text-align: center;
        margin-bottom: 10px;
    }

    .header-text p{
        color: rgb(66, 65, 65);
        font-weight: 550;
        text-align: center;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .logo-container {
        display: flex;
        flex-direction: row ;
        align-items: center;
        justify-content: center;
        font-size: large;
        gap: 10px;
    }

    .form-button{
        width: 30%;
        height: 40px;
        margin-bottom: 10px;
        border-radius: 10px;
        border-radius: 10px;
        border: gray 1px solid;
        border-radius: 10px;
        background-color: rgb(73, 21, 74);
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    .form-links{
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 0, 0, 5px, 0;
    }
    .form-links button{
        width: 30%;
        height: 40px;
        font-size: small;
        border: gray 2px solid;
        border-radius: 10px;
        background-color: rgb(73, 21, 74);
        
    }
}


@media screen and (max-width: 992px) {
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        max-width: 992px;
        background-color: #ffffff;
        
    }

    .main-container form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .form-email{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-email input{
        width: 50%;
        height: 35px;
        margin-bottom: 10px;
        border-radius: 10px;
        border-radius: 10px;
        border: rgb(156, 156, 156) 2px solid;
        
    }

    .form-password{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-password input{ 
        width: 50%;
        height: 35px;
        margin-bottom: 10px;
        border-radius: 10px;
        border-radius: 10px;
        border: rgb(156, 156, 156) 2px solid;
    }
    .main-container label{
        display: none;
    }
    


    .header-text {
        display: flex;
        flex-direction: column ;
        align-items: center;
        justify-content: center;
        
    }

    .header-text h1{
        display: flex;
        flex-direction: column ;
        align-items: center;
        justify-content: center;
        font-size: xxx-large;
        text-align: center;
        margin-bottom: 10px;
    }

    .header-text p{
        color: rgb(66, 65, 65);
        font-weight: 550;
        text-align: center;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .logo-container {
        display: flex;
        flex-direction: row ;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }

    .form-button{
        width: 50%;
        height: 35px;
        margin-bottom: 10px;
        border-radius: 10px;
        border-radius: 10px;
        border: gray 1px solid;
        border-radius: 10px;
        background-color: rgb(73, 21, 74);
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    .form-links{
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 0, 0, 5px, 0;
    }
    .form-links button{
        width: 50%;
        height: 35px;
        font-size: small;
        border: gray 2px solid;
        border-radius: 10px;
        background-color: rgb(73, 21, 74);
        
    }
}

@media screen and (max-width: 688px) {
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        max-width: 688px;
        background-color: #ffffff;
        
    }

    .main-container label{
        display: none;
    }

    .main-container input{
        width: 300px;
        height: 35px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: rgb(156, 156, 156) 2px solid;
    }

    .header-text {
        display: flex;
        flex-direction: column ;
        align-items: center;
        justify-content: center;
        
    }

    .header-text h1{
        display: flex;
        flex-direction: column ;
        align-items: center;
        justify-content: center;
        font-size: xxx-large;
        text-align: center;
        margin-bottom: 10px;
    }

    .header-text p{
        color: rgb(66, 65, 65);
        font-weight: 550;
        text-align: center;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .logo-container {
        display: flex;
        flex-direction: row ;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }

    .form-button{
        width: 300px;
        height: 35px;
        margin-bottom: 10px;
        border: gray 1px solid;
        border-radius: 10px;
        background-color: rgb(73, 21, 74);
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    .form-links{
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 0, 0, 5px, 0;
    }
    .form-links button{
        width: 50%;
        height: 35px;
        font-size: small;
        border: gray 2px solid;
        border-radius: 10px;
        background-color: rgb(73, 21, 74);
        
    }
}









@media screen and (max-width: 200px) {
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        max-width: 200px;
        background-color: #ffffff;
        
    }

    .main-container label{
        display: none;
    }

    .main-container input{
        width: 90%;
        height: 30px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: gray 1px solid;
    }

    .header-text {
        display: flex;
        flex-direction: column ;
        align-items: center;
        justify-content: center;
        
    }

    .header-text p{
        color: rgb(66, 65, 65);
        font-weight: 550;
    }

    .logo-container {
        display: flex;
        flex-direction: row ;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
    }

    .form-button{
        width: 90%;
        height: 30px;
        margin-bottom: 10px;
        border: gray 1px solid;
        border-radius: 10px;
        background-color: rgb(73, 21, 74);
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    .form-links button{
        width: 50%;
        height: 35px;
        margin-left: 20%;
        margin-bottom: 10px;
        font-size: small;
        border: gray 2px solid;
        border-radius: 10px;
        background-color: rgb(73, 21, 74);
        padding: 0, 0, 5px, 0;
        
    }

}



